<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- <img width="300" alt="Angular Logo" src="https://www.google.co.in/search?q=ngxs+image+link&rlz=1C1GCEA_enIN802IN802&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjAr4exn4jfAhVYyYMKHR2yBKAQ_AUIECgD&biw=1680&bih=909#imgrc=hlHCvEHXyLTMjM:"> -->
</div>
<!-- 
<router-outlet></router-outlet> -->
<div class="row">
  <div class="col-sm-4">
    <app-create-product></app-create-product>
  </div>
  <div class="col-sm-4">
    <app-product-list></app-product-list>
  </div>
</div>
